<div class="container" align="justify">
	<div class="row mgb-lg">
		<div class="col-sm-12">
			<h2 class="page-header">About TIC</h2>
			<div class="main-container-well text-left">
				<div class="col-md-3">
					<h5>Head Office</h5>
					<h4>Tanzania Investment Centre</h4>
					<p id="details-box-1" class="details-box">Shaaban Robert Street P.O. Box 938 Dar es Salaam Tel: +255(22)2116328-32 Fax: +255(22)2118253 information@tic.co.tz</p>
					<a>information@tic.co.tz</a>
				</div>
				<div class="col-md-3">
					<h5>Northern Zone</h5>
					<h4>TIC - Zonal manager</h4>
					<p id="details-box-2" class="details-box">P.O. Box 7735 Arusha Road Street Moshi – Kilimanjaro Tel: +255(27)2751066 Fax: +255(27)273316</p>
					<a>northernzonal@tic.co.tz</a>
				</div>
				<div class="col-md-3">
					<h5>Lake Zone</h5>
					<h4>TIC - Zonal manager</h4>
					<p id="details-box-3" class="details-box">P.O. Box 638 Kenyata Street Mwanza Tel: +255(28)2540871/2 Fax: +255(28)2540884</p>
					<a>lakezone@tic.co.tz</a>
				</div>
				<div class="col-md-3">
					<h5>Southern Zone</h5>
					<h4>TIC - Zonal manager</h4>
					<p id="details-box-4" class="details-box">P.O. Box 1316 Karume Avenue, NBC Building Mbeya Tel: +255(25)2504231 Fax: +255(285)250439</p>
					<a>southernzone@tic.co.tz</a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 mgt-lg">
			<p>
				The Tanzania Investment Centre (TIC) was established in 1997 by the Tanzania Investment Act to be “the Primary Agency of the Government to coordinate, encourage, promote and facilitate investment in Tanzania and to advise the Government on investment policy and related matters. The agency deals with all enterprises whose minimum capital investment is not less than US $ 300,000 if foreign owned or US $ 100,000 if locally owned. Enterprises engaged in mining and petroleum shall follow the approval process contained in their respective laws. However, the agency shall assist all investors to obtain permits, authorization etc. required by other laws to set up and operate investments in Tanzania.
			</p>
			<h3 class="page-header mgt-lg">TIC’s functions include:</h3>
			<ul class="redbullet">
				<li>Creating and maintaining a positive climate for private sector investment;</li>
				<li>Providing advice to the Government on investment related matters;</li>
				<li>Stimulating local and foreign investments;</li>
				<li>Facilitating foreign and local investors;</li>
				<li>Stimulating and supporting the growth of Entrepreneurship and SMEs in Tanzania;</li>
				<li>Providing and disseminating up-to-date information on investment opportunities and incentive available to investors;</li>
				<li>Monitoring the Tanzania business environment and growth of Foreign Direct Investment (FDI) in the Country.</li>
			</ul>
			<h3 class="page-header mgt-lg">Regular activities carried out at the TIC include:</h3>
			<ul class="redbullet">
				<li>Proactive response to investor needs;</li>
				<li>Stimulating and facilitating development of entrepreneurial skills and growth of domestic investors including Small and Medium scale Enterprises (SMEs);</li>
				<li>Servicing the National Investment Steering Committee (NISC);</li>
				<li>Facilitating SMEs growth and their linkages with joint venture partners;</li>
				<li>Monitoring the flow of foreign direct investment;</li>
				<li>Organizing investment forums;</li>
				<li>Continually assessing Tanzania’s investment competitiveness;</li>
				<li>Promoting Tanzania as a viable investment destination;</li>
				<li>Policy advocacy;</li>
				<li>Changing the government culture through sensitization seminars;</li>
			</ul>
			<h3 class="page-header mgt-lg">As a ‘One-Stop-Shop’ investment facilitator, TIC:</h3>
			<ul class="redbullet">
				<li>Assists investors to obtain all permits, licenses and visas;</li>
				<li>Grants land derivative rights to investors;</li>
				<li>Assists investors to navigate administrative and regulatory hurdles;</li>
				<li>Provides an ‘aftercare’ service to TIC registered investors.</li>
			</ul>
		</div>
	</div>
</div>