<!-- Content of <main> element, on Home page of public pages -->
<div class="home-window diapo1">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="page-header">
					<h1>Investors, start your business online</h1>
					<h3>Simultaneous registration with:</h3>
					<p>Business Registrations and Licensing Agency (BRELA)</p>
					<p>Tanzania Revenue Authority (TRA) & Social Security schemes</p>
					<p>through Tanzania Investment Centre's (TIC)
	virtual one-stop centre</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="white-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="square-home text-center">
					<p class="number-home">1</p>
					<img src="${ stRoot }img/icon-one.png">
					<h4>Create your file</h4>
					<p>Define your profile using the interactive guide, fill the single form and upload your documents</p>
					<a href="${ stRoot }help/user-manual/file" type="button" class="btn btn-default btn-xs">More info</a>
				</div>
			</div>		
			<div class="col-md-4">
				<div class="square-home text-center">
					<p class="number-home">2</p>
					<img src="${ stRoot }img/icon-organized.png">
					<h4>Pay the fees</h4>
					<p><img src="img/logos-payments.jpg"></p>
					<p>Online payments powered by <img src="img/max-malipo-small.png"></p>
					<a href="${ stRoot }help/user-manual/payment" type="button" class="btn btn-default btn-xs">More info</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="square-home text-center">
					<p class="number-home">3</p>
					<img src="${ stRoot }img/icon-discover.png">
					<h4>Get your certificates</h4>
					<p>Withdraw your certificates at Tanzania Investment Centre within 5 days of submitting your application</p>
					<a href="${ stRoot }help/user-manual/certificates" type="button" class="btn btn-default btn-xs">More info</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

jQuery.noConflict();

jQuery(document).ready(function ($) {

	var interval = 5000;
	var currentPic = 1;
	var classesDiapo = $('.home-window');

	loop = function () {
		classesDiapo.toggleClass('diapo' + currentPic);
		if (currentPic === 2) { currentPic = 1; } else { currentPic++; }
		classesDiapo.toggleClass('diapo' + currentPic);
	};

	setInterval(loop, interval);
});
</script>