/* Meta admin table - display of categories and activities */

.meta-admin-table thead {
	background-color: var(--white-background);
}
.meta-admin-table tbody tr:nth-child(odd) {
	background-color: var(--light-background);
}

.meta-admin-table thead th {
	font-weight: bold;
}

.meta-admin-table thead th,
.meta-admin-table tbody td {
	text-align: left;
	padding: 11px;
}

.meta-admin-table tbody .meta-admin-table-link {
	padding: 0;
}
.meta-admin-table tbody .meta-admin-table-link > a {
	padding: 11px;
	display: block;
}
