.square-home {
	background-color: white;
	padding: 10px;
	opacity: 0.85;
	border-radius: 10px;
}

.number-home {
	left: 20%;
	position: absolute;
	top: 10%;
	font-size: 90px;
	color: #63C67F;
	z-index: -1;
	box-sizing: border-box;
	height: auto;
}

.page-header p {
	line-height: 1.2;
	font-size: 18.5px;
}
